<h1>Editing list</h1>

<%= render "form", list: @list %>

<div class="controls">
  <%= link_to "Show this list", @list, class: "btn btn-secondary" %>
  <%= link_to "Back to lists", lists_path, class: "btn btn-secondary" %>
</div>
