<div class="card">
  <%= render @list %>
</div>

<div class="controls mt-4">
  <%= link_to "Edit this list", edit_list_path(@list), class: "btn btn-primary" %>
  <%= link_to "Back to lists", lists_path, class: "btn btn-secondary" %>
  <%= button_to "Destroy this list", @list, method: :delete, class: "btn btn-danger" %>
</div>
