<div id="<%= dom_id notification %>" style="border: 1px solid black">
  <p>
    <strong>Days before expiration:</strong>
    <%= notification.days_before_expiration %>
  </p>

  <p>
    <strong>By email:</strong>
    <%= notification.by_email %>
  </p>
</div>
