<h1>Editing notification</h1>

<%= render "form", notification: @notification %>

<div class="controls">
  <%= link_to "Show this notification", @notification, class: "btn btn-secondary" %>
  <%= link_to "Back to notifications", notifications_path, class: "btn btn-secondary" %>
</div>
