<div class="card">
  <%= render @notification %>
</div>

<div class="controls mt-4">
  <%= link_to "Edit this notification", edit_notification_path(@notification), class: "btn btn-primary" %>
  <%= link_to "Back to notifications", notifications_path, class: "btn btn-secondary" %>
  <%= button_to "Destroy this notification", @notification, method: :delete, class: "btn btn-danger" %>
</div>
