<h1>StockedShelves</h1>
<p>Welcome to StockedShelves, a place to keep track of all the food you have.</p>

<ul>
  <li><%= link_to "Log in", new_user_session_path %></li>
  <li><%= link_to "Sign up", new_user_registration_path %></li>
</ul>