<h1>Editing color</h1>

<%= render "form", color: @color %>

<div class="controls">
  <%= link_to "Show this color", @color, class: "btn btn-secondary" %>
  <%= link_to "Back to colors", colors_path, class: "btn btn-secondary" %>
</div>
