<div class="card">
  <%= render @color %>
</div>

<div class="controls mt-4">
  <%= link_to "Edit this color", edit_color_path(@color), class: "btn btn-primary" %>
  <%= link_to "Back to colors", colors_path, class: "btn btn-secondary" %>
  <%= button_to "Destroy this color", @color, method: :delete, class: "btn btn-danger" %>
</div>
